# IDE Files
.vscode/*
.vs/*
.idea/*

# Binaries
bin/*

# Compilation files
go/*
src/*.syso
releaseconf.xml.backup
Ikemen_GO.xml.backup
build.bat
build_console.bat
get.bat
go.sum
go.mod

# Distribution and debug files
Ikemen.log
Ikemen_GO.exe
Ikemen_GO.bat
save/*
debug/*
chars/*
font/*
sound/*
stages/*
wip/*
data/big
data/kfm
data/mugen1
data/common.snd
data/common1.cns
data/continue.sff
data/continue.snd
data/credits.def
data/credits.sff
data/fight.def
data/fight.sff
data/fight.snd
data/fightfx.air
data/fightfx.sff
data/gameover.def
data/gameover.sff
data/intro.def
data/intro.sff
data/logo.def
data/logo.sff
data/system.def
data/system.sff
data/system.snd
data/tournament.sff