# Dependencies
go/*

# Runtime
*.log
*.cmd
*.bat
*.sh
*.png
save/*
Ikemen_GO.exe
Ikemen_GO_Linux
Ikemen_GO_MacOS
Ikemen_GO_x86.exe
Ikemen_GO.command
external/script/.idea/*

# Ikemen_GO-Elecbyte-Screenpack
ScreenpackLicense.txt
chars/*
data/big/*
data/common.snd
data/fight.def
data/fight.sff
data/fight.snd
data/fightfx.air
data/fightfx.sff
data/glyphs.sff
data/kfm/*
data/mugen1/*
data/select.def
data/system.def
data/system.sff
data/system.snd
data/work/*
font/*
!font/Open_Sans/
!font/debug.def
!font/default-3x5-bold.def
!font/default-3x5-bold.sff
!font/default-3x5.def
!font/default-3x5.sff
stages/*
sound/*

# Temp
src/lua_triggers.go
external/script/wip/*

# IDE Files
.vscode/*
.vs/*
.idea/*

# Binaries
bin/*

# Compilation files
src/*.syso
